@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@200;300;400;600&family=Roboto+Slab:wght@400;700;800&display=swap');

:root {
    --side-bar-white: rgba(249, 249, 249, 255);
    --orange: rgba(250, 150, 57, 255);
    --bg-white: rgba(255, 255, 255, 255);
    --grey: rgba(238, 238, 238, 255);
    --width-sidebar: 20vw;
}

body {
    background-color: var(--bg-white);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
    height: 100vh;
}

.left-section {
    background-color: var(--side-bar-white);
    width: 18vw;
    padding-left: 2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.title {
    width: 100%;
    padding: 40px 0px;

}

.title>h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

.title>p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 100;
}

.title span {
    color: var(--orange);
}

.links {
    width: 80%;
    font-size: 1.5em;
    font-weight: 300;
}

.link-items {
    margin: 10px 0px;
}

/*right-section*/
.right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: var(--width-sidebar);
}

.project-heading {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 6em 0px 0px 2em;
    background-color: var(--orange);
}

.project-heading p {
    font-size: 2.5em;
    font-weight: 400;
    color: var(--bg-white);
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

.project-description {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 500;
}

.label-values>#label-values-date {
    margin: 0;
    padding: 0;
}

.project-description>.labels {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.project-description>.label-values {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin: 0;
    padding: 2px;
}

/*todo section*/

.project-todos {
    display: flex;
    background-color: var(--side-bar-white);
    /* justify-content: space-between; */
    gap: 1em;
    margin: 0px auto;
    width: 95%;
    height: fit-content;
    padding: .5em 1em;
}

.todo-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
    height: fit-content;
}

.todo-container-heading {
    background-color: var(--bg-white);
    /* flex: 1; */
    font-size: 1em;
    padding-left: 1em;
    height: 2em;
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.todo-card {
    /* flex: 1; */
    background-color: var(--grey);
    width: inherit;
    height: 10em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#todo_date {
    font-size: .8em;
    padding-bottom:10px;
}

#todo_title {
    flex: 3;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    width: 100%;
}

.todo_title_text {
    flex: 5;
    display: flex;

}

.checkbox-container {
    flex: 1;
    /* display: flex; */
    margin-top: .21em;
    padding: 0;
    position: relative;
}

/* Styling the checkbox for todo tasks */
#todo_title input[type="checkbox"] {
    visibility: hidden;
}

.todo-checkbox {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 1em;
    width: 1em;
    background-color: transparent;
    border: 1px solid black;
}

#todo_time_delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8em;
    color: black;
}

#todo_time_delete button {
    border: 1px solid black;
    border-radius: 20px;
}

#todo_time .todo-card-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 20px !important;
    cursor: pointer;
}